
table {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  
}
  tr:nth-child(even) th {

    font-weight: normal;
  }
  
  th,
  td {
    padding: 1rem 2rem;
  }
  
  th {
    font-weight: normal;
    border: thin outset #ccc;
  }

  td {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
	text-align: center;
	border: thin outset #ccc;
  }
  
  td > span {
    font-size: 12px;
    font-weight: normal;
    display: block;
    width: 100%;
  }
  th > span {
    font-size: 12px;
    font-weight: normal;
    display: block;
    width: 100%;
  }
  .odd {
	  background-color: #EFE1CE;
  }

  .even {
	  background-color: #E0B589;

  }
   .ff {
	  background-color: #C48A69;
  } 

.work {
	background-color: #FFD662;
}
.plan:hover {
  box-shadow: 0 8px 12px 0 #755139;
  }
.free {
	background-color: #F5D6C6;
}
.break {
	background-color: #BCBCBE;
}


